body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: #212938;
	overflow: hidden;
	margin: 0px;
} 
	
small {
	color: gray;
}

h1 {
	color: white;
	-webkit-text-stroke: 1px white;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	font-size: 7vw;
	text-shadow: 0px 3px #181e29;
	letter-spacing: -3pt;
	font-weight: bold;
	margin: 0px;
}

h2 {
	color: white;
	font-size: 30px;
	font-weight: lighter;
	margin: 0px;
}

h3 {
	color: #ff5467;
	font-size: 20px;
	font-weight: lighter;
	margin: 0px;
}
	

q {
	display: inline-block;
	max-width: 700px;
} 

a {
	text-decoration: none;
	color: #5979b3;
	font-weight: bold;
}

li {
	list-style-type: none;
}

#content {
	animation: fadein 1s;
}

.vertical-center {
	position: center relative;
	top: 45%;
	vertical-align: middle;
}

.projectBox {
	background: white;
	padding: 10px;
	display: inline-block;
	transition: all .2s ease-in-out;
}

.projectBox:hover {
	transform: scale(1.05);
}

.separator {
	display: inline-block;
	width: 50%;
	height: 2px;
	background: #d0c9af;
	margin: 10px;
}

#navigation {
	margin: 10px;
}

#navigation a {
	color: white;
	font-weight: lighter;
	font-size: 20px;
}

#themeSwitcher {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 5px;
	border-style: none;
	border-radius: 3px;
	background: white;
	color: #212938;
	padding: 10px;
}


.error {
	display: inline-block;
}

#error1 {
	animation: float 1s ease-in-out infinite alternate;
}

#error2 {
	animation: float 1.05s ease-in-out infinite alternate;
}

#error3 {
	animation: float 1.1s ease-in-out infinite alternate;
}


@keyframes fadein {
	from {	
		transform: translateY(-5px);
		opacity:0;
	}
	to {
		transform: translateY(0px);
		opacity:1;
	}
}

@keyframes float {
	from {
		transform: translateY(-5px);
	}
	to {
		transform: translateY(0px);
	}
}
