	
small {
  color: gray;
}

h1{
	background: linear-gradient(to right, #fb3182 0%, #fb5627 55%, #ecc3ca 75%, #082e91 102%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:50px;
	letter-spacing: -3px;
	font-family: 'TT Commons', sans-serif;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
	
}

body {
  text-align: center;
  font-family: 'TT Commons', sans-serif;
  color: black;
  background-color: #e2dabe;
  background-image: url("/images/paper.png");
  overflow: hidden;
} 

q {
  text-align: center;
  font-family: 'Old Standard TT', serif;
} 

a {
	text-decoration: none;
	color: #00aeff;
	font-weight: bold;
}

li {
  list-style-type: none;
}

#test {
	margin-top: 25px;
	animation: fadein 2s;
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

.vertical-center {
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 30%;
}