body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: black;
	height: 100%;
	background-image: linear-gradient(#f8f6ef, #e2dabe);
	background-repeat: no-repeat;
    background-attachment: fixed;
	overflow: hidden;
	margin: 0px;
} 
	
small {
	color: gray;
}

h1 {
	background: -webkit-linear-gradient(left, #fb3182 30%, #fb5627 55%, #ecc3ca 60%, #082e91 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 7vw;
	margin: 0px;
	letter-spacing: -3pt;
}

h2 {
	color: #ff5467;
	font-size: 30px;
	font-weight: lighter;
	margin: 0px;
}

h3 {
	color: #ff5467;
	font-size: 20px;
	font-weight: lighter;
	margin: 0px;
}
	

q {
	display: inline-block;
	max-width: 700px;
} 

a {
	text-decoration: none;
	color: #ff5467;
	font-weight: bold;
}

li {
	list-style-type: none;
}

button {
	border-style: none;
	border-radius: 3px;
	background: #ff5467;
	color: white;
	padding: 10px;
}

.vertical-center {
	position: center relative;
	top: 45%;
	vertical-align: middle;
}

.projectBox {
	background: white;
	padding: 10px;
	display: inline-block;
	transition: all .2s ease-in-out;
}

.projectBox:hover {
	transform: scale(1.05);
}

.separator {
	display: inline-block;
	width: 40%;
	height: 2px;
	background: #d0c9af;
	margin: 10px;
}

#content {
	animation: fadein 1s;
}

#error {
	font-size: 7vw;
	font-weight: bolder;
	color: #ff5467;
	user-select: none;
}

#navigation {
	margin: 10px;
	font-size: 2vw;
}

#navigation a {
	color: black;
	font-weight: lighter;
}

#logInButton{
	color: white;
}

@keyframes fadein {
	from {	
		transform: translateY(-5px);
		opacity:0;
	}
	to {
		transform: translateY(0px);
		opacity:1;
	}
}

@keyframes float {
	from {
		transform: translateY(-5px);
	}
	to {
		transform: translateY(0px);
	}
}