	
small {
  color: gray;
}

h1{
	background: linear-gradient(to right, #53102b 0%, #531c0c 55%, #57484a 75%, #051c58 102%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
	font-size:50px;
	letter-spacing: -3px;
	font-family: url("pantsmode.github.io/fonts/TTCommons-Regular.ttf"), sans-serif;
}

body {
  text-align: center;
  font-family: 'TT Commons', sans-serif;
  color: gray;
  background-color: #03101b;
  overflow: hidden;
} 

q {
  text-align: center;
  font-family: 'Old Standard TT', serif;
  display: inline-block;
  max-width: 700px;
} 

a {
	text-decoration: none;
	color: #004e90;
	font-weight: bold;
}

li {
  list-style-type: none;
}

#test {
	animation: fadein 2s;
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

.vertical-center {
  position: center relative;
  top: 45%;
  vertical-align: middle;
}

.projectBox {
	background: white;
	padding: 10px;
	display: inline-block;
	transition: all .2s ease-in-out;
}

.projectBox:hover {
	transform: scale(1.05);
}