	
small {
	color: gray;
}

h1{
	background: linear-gradient(to right, #fb3182 0%, #fb5627 55%, #ecc3ca 75%, #082e91 102%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:50px;
	display: inline-block;
	letter-spacing: -3px;
	font-family: 'TT Commons', sans-serif;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
}

body {
	text-align: center;
	font-family: 'TT Commons', sans-serif;
	color: black;
	background-color: #e2dabe;
	overflow: hidden;
} 

q {
	text-align: center;
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	max-width: 700px;
} 

a {
	text-decoration: none;
	color: #00aeff;
	font-weight: bold;
}

li {
	list-style-type: none;
}

#test {
	animation: fadein 2s;
}

.vertical-center {
	position: center relative;
	top: 45%;
	vertical-align: middle;
}

.projectBox {
	background: white;
	padding: 10px;
	display: inline-block;
	transition: all .2s ease-in-out;
}

.projectBox:hover {
	transform: scale(1.05);
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
