@font-face {
	font-family: "TT Commons";
	src: url("/fonts/TTCommons-Regular.ttf");
}

small {
  color: gray;
}
h1{
	background: linear-gradient(to right, #fb3182 0%, #fb5627 55%, #ecc3ca 75%, #082e91 102%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
	font-size:50px;
	letter-spacing: -3px;
	font-family: 'TT Commons', sans-serif;
}
body {
  text-align: center;
  font-family: 'TT Commons', sans-serif;
  background-color: #e2dabe;
  background-image: url("/images/paper.png");
} 

quote {
  text-align: center;
  font-family: 'IM Fell English';
} 

a {
  text-decoration: none;
  color: #00aeff;
  font-weight: bold;
  font-family: 'TT Commons', sans-serif;
}

li {
  list-style-type: none;
}

#test {
	margin-top: 25px;
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}
.vertical-center {
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 30%;
}
